{% if request.user.is_authenticated %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav flex-row">
            <li class="nav-item me-3">
                <a class="nav-link text-white" href="#">Dashboard</a>
            </li>
            <li class="nav-item me-3">
                <a class="nav-link text-white" href="#">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}
