<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Helpdesk{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>